*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #2C2D31;
}

/* HEADER MENU */
.lbl-check{
    position: absolute;
    top: 2%;
    right: 8%;
    color: #ddd;
    font-size: 30px;
    cursor: pointer;
    user-select: none;
    z-index: 100;
}
#checkbox{
    display: none;
}

header{
    height: 100vh;
    max-width: initial;
}
.nav-menu{
    z-index: 10;
}
.nav-menu ul{
    background: linear-gradient(#1e0220, #350238);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    padding: 20px 0px 30px 0;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    transition: 0.4s ease;
}
#checkbox:checked ~ nav ul {
    left: 0;
}

.nav-menu ul li {
    padding: 15px 0;
}
.nav-menu ul li a{
    text-decoration: none;
    color: #c567ff;
}
.nav-menu ul li a:hover{
    text-shadow: 0px 0px 5px #b949ff;
    color: #d99dff;
}

/* CONTENT */
main .section{
    text-align: justify;
    padding: 0 3%;
    margin-bottom: 120px;
}

/* FOOTER */
.footer{
    text-align: center;
    background-color: #b949ff;
    color: #fff;
}

@media screen and (min-width: 768px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* HEADER */
    .lbl-check{
        display: none;
    }
    .nav-menu{
        background: initial;
        /* position: fixed; */
        top: 0;
        width: 1280px;
    }
    
    .nav-menu ul{
        background: transparent;
        position: initial;
        margin-right: 5%;
        justify-content: end;
        flex-direction: row;
        display: flex;
        align-items: center;
        list-style: none;
        
    }

    .nav-menu ul li{
        margin: 0 25px;
    }
    .header-text p{
        width: 400px;
    }
    .conteiner{
        margin-top: 20vh;
        flex-direction: row;
        justify-content: space-around;
    }

    /* CONTENT */
    main{
        max-width: 1280px;
        border: 2px solid red;
    }
    main .section{
    }
}
@media screen and (min-width: 1024px){

}