*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'Bicubik';
    src: url("fonts/bicubik-webfont.eot");
    src:
        url('fonts/bicubik-webfont.woff2') format('woff2'),
        url('fonts/bicubik-webfont.svg') format('svg'),
        url('fonts/bicubik-webfont.woff') format('woff');

  }
body{
    background-color: #2C2D31;
}

h1, h2, h3{
    font-family: 'Bicubik';
    text-transform: uppercase;
    color: #dfdddd;
}

h1{
    font-size: 3.5em;
    color: transparent;
    -webkit-text-stroke-width: 0.15px;
    -webkit-text-stroke-color: #dfdddd;
}
h2{
    font-size: 1.4em;
}

h3{
    font-size: 2em;
}

/* HEADER MENU */
.lbl-check{
    position: absolute;
    top: 2%;
    right: 8%;
    color: #ddd;
    font-size: 30px;
    cursor: pointer;
    user-select: none;
    z-index: 100;
}
#checkbox{
    display: none;
}
.section-menu{
    position: relative;
    background: url(media/haptx-vr-glove.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    height: 100vh;
    max-width: initial;
}
.wrapper-logo{
    display: none;
}
.nav-menu ul{
    background: linear-gradient(#1e0220, #350238);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    padding: 20px 0px 30px 0;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    transition: 0.4s ease;
}
#checkbox:checked ~ nav ul {
    left: 0;
}

.nav-menu ul li {
    padding: 15px 0;
}
.nav-menu ul li a{
    text-decoration: none;
    color: #c567ff;
}
.nav-menu ul li a:hover{
    text-shadow: 0px 0px 5px #b949ff;
    color: #d99dff;
}

.header-title{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
}

/* CONTENT */
.wrapper-main{
    width: 100%;
}

main .section{
    text-align: justify;
    padding: 0 3%;
    margin-bottom: 160px;
}

/* ABOUT */
.about{
    margin-top: 50px;
    color: #dfdddd;
}
.about .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.about i{
    font-size: 0.7em;
    
}
.about p{
    font-family: 'Cambria';
    margin: 20px 0;
    font-size: 1.3em;
    width: 100%;
}

.about img{
    width: 170px;
    filter: contrast(0);
}

.about iframe{
    width: 100%;
    height: 220px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #04817997;
}

.about .roles{
    margin-top: 100px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.about .roles li{
    font-family: 'Bicubik';
    list-style: none;
    width: 80px;
    height: 80px;
    display: flex;
    box-shadow: 0px 0px 15px #00ffe057;
    justify-content: center;
    user-select: none;
    align-items: center;
    border: double 3px transparent;
    border-radius: 80px;
    background-image: linear-gradient(#2C2D31, 
    #2C2D31), 
    radial-gradient(circle at top left, #00ffe0,#3020ff);
    background-origin: border-box;
    background-clip: content-box, border-box;

}

/* PRODUCTS */

.products h3{
    text-align: end;
}
.card-products {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    margin-top: 20px;
}
.card-products .card{
    width: 100%;
    height: 250px;
    background: url(media/haptx-vr-glove.jpg);
    background-size: cover;
    margin: 10px 0;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}
.card-products .card:hover{
    box-shadow: 0px 0px 60px #a3a0a080;
}

.card-products .detail-card{
    width: 80%;
    z-index: 5;
    padding: 10px 20px;
    display: none;
    color: #fff;
}
.card-products .btn-card{
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #eb05f9;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    transition: .3s;
}

.card-products .btn-card:hover{
    box-shadow: 0px 0px 10px #eb05f9;
}
.card-products .overlay{
    transition: .5s;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.card-products .border-square{
    border-radius: 20px;
    position: absolute;
    top: 2%;
    left: 2%;
    width: 96%;
    height: 95%;
    border: 1px solid rgba(255, 255, 255, 0.24);
    z-index: 1;
}
.card-products .card:hover > .overlay{
    background-color: rgba(0, 0, 0, 0.644);
}
.card-products .card:hover > .detail-card{
    display: block;
}

/* FOOTER */
.footer{
    font-family: 'Cambria';
    text-align: center;
    color: #fff;
    padding: 30px 0;
}

/* SOCIAL MEDIA */
.mobile-icons{
    margin: 10px 0;
}
.mobile-icons i{
    margin: 0 5px;

}
.social-media, .xcode-fixed{
    display: none;
}


@media screen and (min-width: 768px){
    h1{
        font-size: 6em;
    }

    /* HEADER */
    .lbl-check{
        display: none;
    }
    .wrapper-logo{
        display: block;
        width: 20%;
    }
    .wrapper-logo .logo{
        width: 100px;        
    }
    .nav-menu{
        background-color: #00000069;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .nav-menu ul{
        width: 50%;
        background: transparent;
        position: initial;
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: row;
        list-style: none;
        
    }
    .nav-menu ul li{
        margin: 0 25px;
    }


    /* CONTENT */
    .wrapper-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1300px;
    }

    .about, .products{
        width: 90%;
    }
    
    /* ABOUT */
    .about .conteiner{
        display: flex;
        flex-direction: row;
    }
    .about .description{
        width: 65%;
        margin-right: 15px;
    }
    .about .video{
        width: 650px;
        height: 295px;
        margin-left: 15px;
    }
    .about iframe{
        width: 100%;
        height: 100%;
    }

    .about .roles{
       width: 100%;
       justify-content: space-evenly;
    }

    /* PRODUCTS */
    .card-products{
        justify-content: space-around;
    }
    .card-products .card{
        width: 40%;
    }

    /* SOCIAL MEDIA ICONS */
    .mobile-icons{
        display: none;
    }
    .social-media{
        position: fixed;
        bottom: 0;
        left: 3%;
        font-size: 1.9em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .social-media .span-contacts{
        font-size: 0.7em;
    }
    .social-media a{
        text-decoration: none;
        color: #7476728a;
    }
    .social-media ul li{
        list-style: none;
        margin: 20px 0;
    }
    .social-media::after{
        content: '';
        display: block;
        width: 2px;
        height: 80px;
        background-color: #7476728a;
    }

    /* XCODE FIXED IN PAGE - DESKTOP */
    .xcode-fixed{
        position: fixed;
        bottom: 0;
        right: 0%;
        width: 180px;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .xcode-fixed img{
        width: 90px;
        filter: contrast(0);
    }
    .xcode-fixed span{
        font-family: 'Bicubik';
        font-size: 1.5em;
        color: #535554;
    }

}
@media screen and (min-width: 1024px){

}