*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'Bicubik';
    src: url("fonts/bicubik-webfont.eot");
    src:
        url('fonts/bicubik-webfont.woff2') format('woff2'),
        url('fonts/bicubik-webfont.svg') format('svg'),
        url('fonts/bicubik-webfont.woff') format('woff');

  }

::-webkit-scrollbar{
display: none;
}
body{
    background-color: #1c1c1c;
}

h1, h2, h3{
    font-family: 'Bicubik';
    text-transform: uppercase;
    color: #dfdddd;
}

h1{
    font-size: 3.5em;
    color: transparent;
    -webkit-text-stroke-width: 0.15px;
    -webkit-text-stroke-color: #dfdddd;
}
h2{
    font-size: 1.4em;
}

h3{
    font-size: 1.6em;
}

h4{
    font-size: 1em;
}

/* HEADER MENU */
.lbl-check{
    position: absolute;
    top: 2%;
    right: 8%;
    color: #ddd;
    font-size: 30px;
    cursor: pointer;
    user-select: none;
    z-index: 100;
}
#checkbox{
    display: none;
}
.section-menu{
    position: relative;
    overflow: hidden;
}
.video-background{
    position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        filter: brightness(0.28);
        z-index: -1;
}

header{
    height: 100vh;
    max-width: initial;
}
.wrapper-logo{
    display: none;
}
.nav-menu ul{
    background: linear-gradient(#1e0220, #350238);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    padding: 20px 0px 30px 0;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    transition: 0.4s ease;
}
#checkbox:checked ~ nav ul {
    left: 0;
}

.nav-menu ul li {
    font-family: 'Roboto';
    padding: 15px 0;
}
.nav-menu ul li a{
    text-decoration: none;
    color: #c567ff;
}
.nav-menu ul li a:hover{
    text-shadow: 0px 0px 5px #b949ff;
    color: #d99dff;
}

.header-title{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
}

/* CONTENT */
.wrapper-main{
    width: 100%;
}

main .section{
    text-align: justify;
    padding: 0 3%;
    margin-bottom: 160px;
}

/* ABOUT */
.about{
    margin-top: 50px;
    color: #dfdddd;
}
.about .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.about i{
    font-size: 0.7em;
    
}
.about p{
    font-family: 'Roboto';
    margin: 20px 0;
    font-size: 1.3em;
    width: 100%;
    font-style: italic;
    text-align: center;
}

.about img{
    width: 170px;
    filter: contrast(0);
}

.about iframe{
    width: 100%;
    height: 220px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #04817997;
}

.about .roles{
    margin-top: 200px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.about .roles li, 
.about .roles span{
    font-family: 'Bicubik';
    list-style: none;
    height: 80px;
    display: flex;
    box-shadow: 0px 0px 15px #00ffe057;
    justify-content: center;
    user-select: none;
    align-items: center;
    border: double 3px transparent;
    border-radius: 80px;
    background-image: linear-gradient(#2C2D31, 
    #2C2D31), 
    radial-gradient(circle at top left, #00ffe0,#3020ff);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.about .roles li{
    width: 80px;
}
.wrapper-span {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.about .roles span{
    width: 200px;
}

/* PRODUCTS */
.products h3{
    text-align: end;
}
.card-products {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    margin-top: 20px;
}

.card-products .card{
    border-radius: 20px;
    width: 100%;
    position: relative;
    margin: 5px 0;
}
.card-products img{
    transition: .5s  ;
    border-radius: 20px;
    width: 100%;
}
.card-products h4{
    padding-left: 10px;
    margin-bottom: 10px;
    border-left: 4px solid #00ffe0;
}
.card-products p{
    margin-bottom: 15px;
}
.card-products .card:hover img{
    filter: brightness(0.2);
}
.card-products .desc{
    display: none;
    color: #fff;
    font-family: 'Roboto';
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card-products .card:hover .desc{
    z-index: 5;
    display: block; 
}
.card-products .btn-card{
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #eb05f9;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    transition: .3s;
    text-decoration: none;
}
.card-products .btn-card:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px #eb05f9;
}
.card-products .border-square{
    border-radius: 20px;
    position: absolute;
    top: 4%;
    left: 3%;
    width: 94%;
    height: 90%;
    border: 1px solid #ffffff94;
}

/* PROFILE */
.wrapper-profile{
    margin-top: 20px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}
.wrapper-profile .card-profile{
    padding: 70px 15px 20px 15px;
    margin: 10px;
    background-color: #29252960;
    width: 35%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    position: relative;
}
.wrapper-profile .background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(to right, #5a5a5a, #282828);
    display: flex;
    justify-content: center;
    border-radius: 15px 15px 10px 10px;
}
.card-profile .background img{
    width: 100%;
    height: 100%;
    filter: drop-shadow( 0px 0px 10px rgb(182, 247, 247));
}

.card-profile .img-profile{
    border-radius: 50px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.card-profile .name{
    font-family: 'Roboto';
    color: #fff;
    margin: 20px 0 0 0;
    font-size: 1.15em;
    text-align: center;
}
.card-profile .role{
    font-family: 'Roboto';
    color: #fff;
    font-size: 1em;
    text-align: center;
}
.card-profile .brands{
    margin-top: 20px;
}
.card-profile .brands i{
    color: #fff;
    margin: 0 2px;
}

/* FOOTER */
.footer{
    font-family: 'Roboto';
    text-align: center;
    color: #c7c5c5ad;
    padding: 30px 0;
    user-select: none;
}

/* SOCIAL MEDIA */
.mobile-icons{
    margin: 10px 0;
}
.mobile-icons i{
    margin: 0 5px;

}
.social-media, .xcode-fixed{
    display: none;
}


@media screen and (min-width: 768px){
    h1{
        font-size: 6em;
    }

    /* HEADER */
    .lbl-check{
        display: none;
    }
    .wrapper-logo{
        display: block;
        width: 20%;
    }
    .wrapper-logo .logo{
        width: 100px;        
    }
    .nav-menu{
        background-color: #00000069;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .nav-menu ul{
        width: 50%;
        background: transparent;
        padding: 0px;
        position: initial;
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: row;
        list-style: none;
        
    }
    .nav-menu ul li{
        margin: 0 25px;
    }


    /* CONTENT */
    .wrapper-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1300px;
    }

    .about, .products, .team{
        width: 90%;
    }
    
    /* ABOUT */
    .about .conteiner{
        display: flex;
        flex-direction: row;
    }
    .about .description{
        width: 65%;
        margin-right: 15px;
    }
    .about .video{
        width: 650px;
        height: 295px;
        margin-left: 15px;
    }
    .about iframe{
        width: 100%;
        height: 100%;
    }

    .about .roles{
       width: 100%;
       justify-content: space-evenly;
    }

    /* PRODUCTS */
    .card-products{
        justify-content: center;
    }
    .card-products .card{
        width: 40%;
        margin: 1%;
    }
    
    /* PROFILE */
    .wrapper-profile{
        justify-content: flex-start;
    }
    .wrapper-profile .card-profile{
        padding: 95px 15px 20px 15px;
        width: 15%;
    }
    /* SOCIAL MEDIA ICONS */
    .mobile-icons{
        display: none;
    }
    .social-media{
        position: fixed;
        bottom: 0;
        left: 3%;
        font-size: 1.9em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .social-media .span-contacts{
        font-size: 0.7em;
    }
    .social-media a{
        text-decoration: none;
        color: #7476728a;
    }
    .social-media ul li{
        list-style: none;
        margin: 20px 0;
    }
    .social-media::after{
        content: '';
        display: block;
        width: 2px;
        height: 80px;
        background-color: #7476728a;
    }

    /* XCODE FIXED IN PAGE - DESKTOP */
    .xcode-fixed{
        position: fixed;
        bottom: -3%;
        right: 0%;
        width: 180px;
        display: block;
    }
    .xcode-fixed img{
        width: 150px;
        filter: contrast(0);
    }

}
@media screen and (min-width: 1024px){

}