*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'Bicubik';
    src: url("../fonts/bicubik-webfont.eot");
    src:
        url('../fonts/bicubik-webfont.woff2') format('woff2'),
        url('../fonts/bicubik-webfont.svg') format('svg'),
        url('../fonts/bicubik-webfont.woff') format('woff');

  }

::-webkit-scrollbar{
display: none;
}

body{
    background-color: #1c1c1c;
}

h1, h2, h3{
    font-family: 'Bicubik';
    text-transform: uppercase;
    color: #dfdddd;
}

h1{
    font-size: 1em;
    letter-spacing: 2px;
}

h2{
    font-size: 1.3em;
}


/* HEADER MENU */
.lbl-check{
    position: absolute;
    top: 2%;
    right: 8%;
    color: #ddd;
    font-size: 30px;
    cursor: pointer;
    user-select: none;
    z-index: 100;
}
#checkbox{
    display: none;
}
.section-menu{
    position: relative;
    background: linear-gradient(to top, #3c153c, #1b131a);
}
header{
    height: 90vh;
    max-width: initial;
}
.wrapper-logo{
    display: none;
}
.nav-menu ul{
    background: linear-gradient(#1e0220, #350238);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    padding: 20px 0px 30px 0;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    transition: 0.4s ease;
}
#checkbox:checked ~ nav ul {
    left: 0;
}

.nav-menu ul li {
    font-family: 'Roboto';
    padding: 15px 0;
}
.nav-menu ul li a{
    text-decoration: none;
    color: #c567ff;
}
.nav-menu ul li a:hover{
    text-shadow: 0px 0px 5px #b949ff;
    color: #d99dff;
}

.header-title{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
}
.header-title span{
    color: #7f00cf;
}
.arrow-down{
    position: absolute;
    bottom: 10%;
    left: 50%;
    margin-top: 100px;
    color: #ffffff8c;
    font-size: 1.5em;
    animation: move 1s infinite;
}
@keyframes move {
    0%{
        bottom: 10%;
    }
    50%{
        bottom: 7%;
    }
    100%{
        bottom: 10%;
    }
}

/* CONTENT */
.wrapper-main{
    width: 100%;
}

main .section{
    text-align: justify;
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 160px;
}

/* ABOUT */
.about{
    padding: 15vh;
    color: #fff;
    font-family: 'Roboto';
    background: linear-gradient(to top, #1c1c1c, #3C153C);
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.about p{
    margin: 10px 0 30px 0;
}

.about video{
    width: 100%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
.about figure{
    position: relative;
    background: black;
    padding: 50px 20px 25px;
    border-radius: 40px;
}
.about figcaption{
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    background: #0000007d;
    padding: 10px;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    text-align: center;
    width: 70%;
}

/* GOALS */
.goals h2{
    text-align: center;
}
.wrapper-cards{
    margin-top: 20px;
}
.wrapper-cards .card-goal{
    border: 2px solid #9b198b8f;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    color: #fff;
    border-radius: 10px;
    margin: 10px 0;
    background: linear-gradient(to right, #00000069, #3C153C);
    font-family: 'Roboto';
    position: relative;
}
.wrapper-cards .card-goal:hover{
    background: linear-gradient(to right, #11101069, #551a55);
}

.wrapper-cards .okr{
    font-family: 'Bicubik';
    background-color: #c567ff40; 
    margin-right: 30px;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #9b198b8f;
    padding: 3px;
    font-size: 13px;
}

.wrapper-cards i{
    color: #ffffffb8;
    font-size: 1.3em;
    position: absolute;
    right: 8%;
    top: 40%;
}

/* MEET */
.meet iframe{
    border-radius: 15px;
    box-shadow: 5px 5px 15px #04817997;
    width: 100%;
}
.meet h2{
    margin-bottom: 20px;
}

/* GALLERY */
.gallery h2{
    text-align: right;
    margin-bottom: 10px;
}
.wrapper-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 15px;
  }
.wrapper-gallery img {
    width: 100%;
    display: block;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transition: all 100ms ease-out;
}
.wrapper-gallery img:hover {
    transform: scale(1.04);
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

/* FOOTER */
.footer{
    font-family: 'Roboto';
    text-align: center;
    color: #c7c5c5ad;
    padding: 30px 0;
    user-select: none;
}
.footer i{
    margin: 0 3px;
}

@media screen and (min-width: 768px){
    h1{
        font-size: 2em;
    }

    /* HEADER */
    header{
        height: 100vh;
    }
    .lbl-check{
        display: none;
    }
    .wrapper-logo{
        display: block;
        width: 20%;
    }
    .wrapper-logo .logo{
        width: 100px;        
    }
    .nav-menu{
        background-color: #00000069;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .nav-menu ul{
        width: 50%;
        background: transparent;
        position: initial;
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: row;
        list-style: none;
        
    }
    .nav-menu ul li{
        margin: 0 25px;
    }

    .section-menu{
        background: linear-gradient(to top, #1c1c1c, #720164);
    }

    /* CONTENT */
    .wrapper-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1300px;
    }

    .about, .goals, .meet{
        width: 90%;
    }

    /* ABOUT */
    .about{
        background: transparent;
    }
    .about .container{
        width: 40%;
        margin-right: 50px;
    }
    .about figure{
        width: 30%;
    }

    /* MEET */
    .meet iframe{
        width: 50%;
    }
    

}