*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'Bicubik';
    src: url("../fonts/bicubik-webfont.eot");
    src:
        url('../fonts/bicubik-webfont.woff2') format('woff2'),
        url('../fonts/bicubik-webfont.svg') format('svg'),
        url('../fonts/bicubik-webfont.woff') format('woff');

  }

::-webkit-scrollbar{
display: none;
}

body{
    background-color: #1c1c1c;
}

h1, h2{
    font-family: 'Bicubik';
    text-transform: uppercase;
    color: #dfdddd;
}

h2{
    font-size: 1.3em;
}


/* HEADER MENU */
.lbl-check{
    position: absolute;
    top: 2%;
    right: 8%;
    color: #ddd;
    font-size: 30px;
    cursor: pointer;
    user-select: none;
    z-index: 100;
}
#checkbox{
    display: none;
}
.section-menu{
    position: relative;
}
h1{
    position: absolute;
    top: 50%;
    width: 100%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    font-size: 1.7em;
    letter-spacing: 2px;

}
header{
    height: 100vh;
    background: url(../media/bg1.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper-logo{
    display: none;
}
.nav-menu ul{
    background: linear-gradient(#1e0220, #350238);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    padding: 20px 0px 30px 0;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    transition: 0.4s ease;
}
#checkbox:checked ~ nav ul {
    left: 0;
}

.nav-menu ul li {
    font-family: 'Roboto';
    padding: 15px 0;
}
.nav-menu ul li a{
    text-decoration: none;
    color: #c567ff;
}
.nav-menu ul li a:hover{
    text-shadow: 0px 0px 5px #b949ff;
    color: #d99dff;
}


/* CONTENT */
.wrapper-main{
    width: 100%;
}

main .section{
    text-align: justify;
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 160px;
}

/* CARDS */
.wrapper-cards{
    display: flex;
    flex-flow: wrap;
}

.flip-card{
    width: 100%;
    height: 180px;
    background:transparent;
    perspective:1000px;
    margin: 10px 0;
    border-radius: 20px;
}

.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.9s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.flip-card:hover .flip-card-inner{
    transform:rotateY(180deg);
}

.flip-card-back , .flip-card-front{
    border-radius: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-front{
    background-color: #bbb;
    overflow: hidden;
}
.flip-card-front img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flip-card-back{
    background-color: #2980b9;
    transform:rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flip-card-back p{
    color: white;
    font-size: 1.3em;
    margin-bottom: 10px;
}
.flip-card-back img{
    width: 100px;
    height: 100px;
}

/* FOOTER */
.footer{
    font-family: 'Roboto';
    text-align: center;
    color: #c7c5c5ad;
    padding: 30px 0;
    user-select: none;
}
.footer i{
    margin: 0 3px;
}

@media screen and (min-width: 768px){
    h1{
        font-size: 3em;
    }

    /* HEADER */
    header{
        height: 100vh;
    }
    .lbl-check{
        display: none;
    }
    .wrapper-logo{
        display: block;
        width: 20%;
    }
    .wrapper-logo .logo{
        width: 100px;        
    }
    .nav-menu{
        background-color: #00000069;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .nav-menu ul{
        width: 50%;
        background: transparent;
        position: initial;
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: row;
        list-style: none;
        
    }
    .nav-menu ul li{
        margin: 0 25px;
    }

    /* CONTENT */
    .wrapper-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .wrapper-cards{
        margin-top: 50px;
        /* border: 2px solid red; */
        width: 90%;
        flex-flow: initial;
    }

    .flip-card{
        width: 25%;
        margin: 0 10px;
    }
      

    .flip-card-inner{
        height: 100%;
    }

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 1300px;
    }

}


